<h1>Stupid Coaching</h1>

<div class="quoteblock">
<p><%=@question%></p>
<p class="italic">-You</p>
</div>

<div class="quoteblock coach">
<p><%=@answer%></p>
<p class="italic">-Your coach</p>
</div>

<%= link_to "ask the coach another question", "/ask" %>
